{
	"ADMINS": ["ZacharyN#6195", "JasonILTG#4179"],
	"BROADCAST_CHANNELS": {
		"CrossComputer" : {
			"guild_id" : 698647389690658836,
			"channel_id": 892959651946172446
		}
	},
	"LOGGING_CHANNELS": {
		"CrossComputer" : {
			"guild_id" : 698647389690658836,
			"channel_id": 892959651946172446
		}
	},
	"SETS": ["MID", "AFR", "STX", "KHM"],
	"FORMATS": ["PremierDraft", "TradDraft", "QuickDraft", "Sealed"],
	"DEFAULT_COLUMNS": ["Color", "Rarity", "ALSA", "ATA", "# GP", "GP WR", "# GIH", "GIH WR", "IWD"],
	"DEFAULT_START_DATE": "2019-01-01"
}