{	
	"ADMINS" : ["ZacharyN#6195", "JasonILTG#4179", "Chord_O_Calls (Alex)#0385"]
	"SETS" : ["MID"],
	"FORMATS" : ["PremierDraft", "TradDraft", "QuickDraft"],
	"DEFAULT_COLUMNS" : ["Color", "Rarity", "ALSA", "# GP", "GP WR", "# GIH", "GIH WR"],
	"DEFAULT_START_DATE" : "2019-01-01"
	"SET_CONFIG": {
		"MID" : {
			"PremierDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"TradDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"QuickDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			}
		}
	}
}