{
	"SET_CONFIG": {
		"MID" : {
			"PremierDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"TradDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"QuickDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"Sealed": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
    		"TradSealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"DraftChallenge": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			}
		},
		"AFR" : {
			"PremierDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"TradDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"QuickDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"Sealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"TradSealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"DraftChallenge": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			}
		},
		"STX" : {
			"PremierDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"TradDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"QuickDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"Sealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"TradSealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"DraftChallenge": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			}
		},
		"KHM" : {
			"PremierDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"TradDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"QuickDraft": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
			"Sealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"TradSealed": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			},
    		"DraftChallenge": {
				"Updating" : false,
				"StartDate" : null,
				"EndDate" : null
			}
		}
	}
}