{	
	"ADMINS": ["ZacharyN#6195", "JasonILTG#4179"],
	"SETS": ["MID"],
	"FORMATS": {
		"PremierDraft": ["bo1", "premier", "premierdraft"],
		"TradDraft": ["bo3", "trad", "traditional", "traddraft", "traditionaldraft"],
		"QuickDraft": ["qd", "quick", "quickdraft"],
		"Sealed": ["sealed", "bo1sealed", "sealedbo1"],
		"TradSealed": ["tradsealed", "bo3sealed", "sealedbo3"],
		"DraftChallenge": ["challenge", "draftchallenge"]
		},
	"DEFAULT_COLUMNS" : ["Color", "Rarity", "ALSA", "# GP", "GP WR", "# GIH", "GIH WR"],
	"DEFAULT_START_DATE" : "2019-01-01",
	"SET_CONFIG": {
		"MID" : {
			"PremierDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"TradDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			},
			"QuickDraft": {
				"Updating" : true,
				"StartDate" : null,
				"EndDate" : null
			}
		}
	}
}